* {
    box-sizing: border-box;
}

/*
====================================================================
HEADER
====================================================================
*/

header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 5em;
}

/*nav disappears when screen small*/
nav ul {
    display: none;
}

h1 {
    color: #484848;
    font-family: 'Raleway', sans-serif;
    font-size: 2.25em;
    text-transform: uppercase;
}

header h1 {
    height: 2em;
    text-align: center;
    padding-bottom: 0;
    text-decoration: none;
}

/*
=========================================================================
MAIN IMAGE
=========================================================================
*/

figure {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0.625em;
}

figcaption {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.main-image, .find-image {
    width: 100%;
    height: 25em;
    opacity: 0.95;
    background-size: cover;
}

/* Map Image */
.map-image {
    width: 500px;
    height: 400px;
    background: url("../images/map.png") center no-repeat;
}

/*Main Image */
.main-image {
    background: url("../images/bookstore.jpeg") center 30% no-repeat;
}

/*Find Us Image */
.find-image {
    background: url("../images/book-peddler.png") center 30% no-repeat;
}

/*Figcaptions */
figcaption h2, figcaption h3 {
    color: #fff;
}

figcaption h2 {
    font-family: 'Alice', serif;
    font-size: 3.2em;
    font-weight: bold;
    padding-top: 3.75em;
    padding-bottom: 1.875em;
}

.image-text {
    text-align: center;
    color: white;
    padding: 0.5em;
}

figcaption {
    background-color: black;
    opacity: 0.75;
    border-radius: 0.938em;
}

figcaption h3 {
    font-family: 'Open sans', sans-serif;
    font-size: 1.25em;
    line-height: 2em;
    max-width: 30.75em;
    text-align: center;
    padding-bottom: 1.25em;
}

/* Find Us Image */
.find-us {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 13.75em;
    height: 2.375em;
    background-color: #f00;
    font-family: 'Open sans', sans-serif;
    font-size: 0.938em;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}




/*
========================================================================
ARTICLES
========================================================================
*/

section {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 4.375em;
    padding-right: 4.375em;
}

article {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 62.5em;
}

/**** Headings ******/
article h1, article h2, article h3, article h4 {
    font-family: 'Alice', sans-serif;
    font-weight: normal;
    padding: 0.3em 0;
}

article h1, article h2 {
    font-size: 1.625em;
}

article h3, article h4 {
    font-size: 1.4em;
}

article h2, article h3, article h4, article h5, article h6 {
    color: #484848;
}

/****** Paragraph Text *****/
p, table {
    font-family: 'Alice', sans-serif;
    color: #484848;
    font-size: 1.2em;
    padding-bottom: 0.625em;
    line-height: 1.3em;
}

/****** List Element Text *****/
section li {
    font-family: 'Open sans', sans-serif;
    font-size: 1em;
    color: #737373;
    line-height: 1.188em;
    padding-bottom: 0.625em;
}

/***** Flex columns *****/
.flex-column {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}

/***** Flex rows *****/
.flex-row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

.button {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    margin-top: 1.25em;
    margin-bottom: 0.625em;
}

aside {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/***** Dividers *****/
.divider {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
}

.divider span {
    background-color: #d0d0d0;
    height: 0.063em;
    width: 16.250em;
}

/***** Tables *****/
table {
    border-collapse: collapse;
    margin-top: 0.063em;
}

td, th {
    padding: 0.5em;
    text-align: left;
    border: none;
    padding-right: 2.5em;
}

.bold {
    font-weight: bold;
}

.red {
    text-align: center;
    color: #f00;
}

/***** Phone ******/
.phone {
    text-align: center;
    margin-top: 0.5em;
}

.phone a {
    color: #f00;
    font-family: sans-serif;
    font-size: 1.6em;
    text-transform: uppercase;
    text-decoration: none;
}

.phone a:hover {
    color: #00f;
}

.phone a:visited {
    color: #f00;
}

/****** Footer ******/
footer {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

footer div {
    font-family: 'Alice', sans-serif;
    text-align: center;
    line-height: 1.375em;
    font-size: 1.1em;
}

footer div a {
    text-decoration: none;
}

footer div a:hover {
    text-decoration: underline;
    color: #00f;
}

/*
=====================================================================================
MEDIA QUERIES
=====================================================================================
*/

/*GREATER THAN 600px*/
@media all and (min-width: 600px) {
    /*puts numbered list and image on each side of container*/
    div aside {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
    }

    .divider span {
        width: 28.125em;
    }
}

/*GREATER THAN 768px*/
@media all and (min-width: 768px) {
    .main-image, .find-image {
        height: 37em;
        width: 100%;
        opacity: 0.95;
        background-size: cover;
    }

    /*adds navigation at top*/
    header {
        height: 9em;
    }

     nav ul {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
    }

    nav ul li a {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        padding-left: 0.938em;
        padding-right: 0.938em;
        margin-left: 0.625em;
        margin-right: 0.625em;
        height: 1.875em;
        background-color: #f6f6f6;
        font-family: 'Raleway', sans-serif;
        font-size: 0.9em;
        color: #5B4770;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.2em;
    }

    /*adds line*/
    .line {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        padding-left: 1.250em;
        padding-right: 1.250em;
    }

    .line span {
        display: none;
        background-color: #d0d0d0;
        height: 0.063em;
        width: 1em;
    }

    .divider span {
        width: 37.5em;
    }
}

/*GREATER THAN 800px*/
@media all and (min-width: 800px) {
    /*increases line size*/
    .line span {
        display: none;
    }

    .divider span {
        width: 40.625em;
    }
}

/*GREATER THAN 980px*/
@media all and (min-width: 980px) {
    /*increases line size*/
    .line span {
        display: inline-block;
        width: 5em;
    }

    .divider span {
        width: 46.875em;
    }
}

/*GREATER THAN 1100px*/
@media all and (min-width: 1100px) {
    /*increases line size*/
    .line span {
        width: 8.5em;
    }

    .divider span {
        width: 53.125em;
    }
}

/*
==========================================================================
JENNI
==========================================================================
*/

/* SELECTION LIST */
article ul li {
    margin-left: 2em;
    list-style: circle;
}

.text-center {
    text-align: center;
}

/* Purple Headings */
.section-heading {
    color: #5B4770;
    text-align: left;
}

h2.red {
    margin-bottom: 0.4em;
}


/*
==========================================================================
Image Gallery - drawn from http://www.deluxeblogtips.com/2010/05/image-slider-pure-css3.html
==========================================================================
*/

div#images {
    width: 650px;
    height: 400px;
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    background-image: url("../images/mystery.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 650px 366px;
}

div#images img {
    width: 650px;
    position: absolute;
    top: 0;
    left: -400px;
    z-index: 1;
    opacity: 0;
    transition: all linear 500ms;
    -o-transition: all linear 500ms;
    -moz-transition: all linear 500ms;
    -webkit-transition: all linear 500ms;
}

div#images img:target {
    left: 0;
    z-index: 9;
    opacity: 1;
}

div#images img:first-child {
    left: 0;
}

div#slider a {
    font-size: 1.1em;
    text-decoration: none;
    background: #E3F1FA;
    border: 1px solid #C6E4F2;
    padding: 4px 6px;
    color: #222;
    margin: 0.3em;
}

div#slider a:hover {
    background: #C6E4F2;
}